/* Reset básico */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
:root{
  --cor: #cbb59a;
}

/* Estilização geral do corpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
}

/* Estilo do contêiner principal */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do título */
h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

/* Estilo do formulário e seus elementos */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container{
  display: flex;
}
label {
  font-weight: bold;
  color: black;
}

input[type="text"],
input[type="number"] {
  width: 22vw;
  padding: 12px;
  border-radius: 15px;
  font-size: 16px;
  border: solid var(--cor);
}

input[type="submit"] {
  background-color: var(--cor);
  padding: 12px 17px;
  color: white;
  border: solid 4px var(--cor);
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background-color: white;
    color: var(--cor);
  }
}

.div-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Estilo das âncoras (links) */
a {
  text-align: center;
  color: var(--cor);
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

/* Estilização da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-spacing: 50px;
}

th, td {
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
}

th {
  background-color: var(--cor);
  color: white;
}


/* Estilo para a seção de ações */
td a {
  color: var(--cor);
  padding: 5px 10px;
  border: 2px solid var(--cor);
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

td a:hover {
  background-color: var(--cor);
  color: white;
}

td a i {
  margin-right: 5px;
}